<blockquote class="quote">
  <p class="qoute__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti facere
    quidem cum perferendis architecto doloribus! Esse laudantium laborum ipsa
    doloribus.
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title qoute__author">John Smith</h3>
      <p class="quote__organization">ABC Company</p>
    </div>
  </div>
</footer>
